body {
	font-family: arial;
}

a.link:hover { 
	color: rgb(0,0,0);
}


.third-level-menu {
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li {
    background: rgb(200, 200, 200);
}

.third-level-menu > li:hover {
	background: rgb(140, 180, 215);
}

.second-level-menu {
    position: absolute;
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li {
    position: relative;
	background: rgb(150, 150, 150);
}
.second-level-menu > li:hover {
	background-color:	rgb(70, 130, 185);
}

.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li {
    position: relative;
    float: left;
    height: 50px;
    width: 250px;
    background: rgb(35, 65, 95);
}

.top-level-menu li:hover > ul {
    display: inline;
}

.top-level-menu a {
	color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 50px;
}

.link a:hover { 
	color: rgb(0,0,0);
}

.top-level-menu {
	width:100%;
	background: rgb(35, 65, 95);
	height: 50px;
}